<!--The content below is only a placeholder and can be replaced.-->

	<h1>{{title}}</h1>
	<table border="1" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
		<tr align="center">
			<td width="100px" >id</td>
			<td width="100px">이 름</td>
			<td width="100px">나 이</td>
			<td width="100px">등록일자</td>
		</tr>

		<tr *ngFor="let m of studentList" (click)="sendStudentInfo(m.id)">
			<td>{{m?.id}}</td>
			<td>{{m?.name}}</td>
			<td>{{m?.age}}</td>
			<td>{{m?.created}}</td>
		</tr>
	</table>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink='/studentRegister'>
  		학생 등록하기
	</button>
