

table{
  margin-top: 30px;
  min-width:300px;
  border-collapse : collapse;
}

thead{
  text-align: left;
}

th{
  border-bottom: #aaa solid 1px;
  padding-bottom: 5px;
}

tbody{
  margin-top: 10px;
}
